@model Comic
@{
    ViewData["Title"] = "Index";
}

<style>
    .mainContainer {
        width: 100%;
        background: #fe51e5;
        text-align: center;
        padding: 10px;
    }

    .marginLeft10 {
        margin-left: 10%;
    }

    .comicContainer {
    }

    .comicButtonContainer {
    }

    .comicButton {
    }
</style>



<h2>Comic</h2>
<div class="mainContainer">

    <div class="comicButtonContainer">
        <input id="PrevBtn" type="button" value="Prev" onclick="location.href='@Url.Action("Index", "Comic", new { comicNumber = int.Parse(Model.Num) -1})'" />
        <input id="NextBtn" type="button" value="Next" class="marginLeft10" onclick="location.href='@Url.Action("Index", "Comic", new { comicNumber = int.Parse(Model.Num) +1})'" />
    </div>
    <div class="comicContainer">

        <img src=@Model.Img>
    </div>

</div>




